@font-face {
  font-family: myfontBOLD;
  src: url("../font/MYRIADPRO/MYRIADPRO-BOLD.OTF");
}
@font-face {
  font-family: myfontlight;
  src: url("../font/MYRIADPRO/MyriadPro-Light.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #fff;
  text-decoration: none !important;
  &:hover {
    color: #fff;
  }
}
.container_ {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  max-height: 520px;
  position: relative;
  z-index: 2;
  max-width: 1200px;
}
p,
label {
  font-family: myfontlight !important;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
}
svg {
  width: 100%;
  width: 100%;
}
/* helper class */
.mixBlendColorDodge {
  mix-blend-mode: color-dodge;
}
.mixBlendMultiply {
  mix-blend-mode: multiply;
}
.mixBlendScreen {
  mix-blend-mode: screen;
}
.mixBlendColorDodge {
  mix-blend-mode: color-dodge;
}

/* ========================= 
        start sec
=========================== */
.background-image-svg {
  position: absolute;
  left: 15%;
  top: 50%;
  background-image: url('../svg/backgrouend-two.svg');
  background-repeat: no-repeat;
  height: 280%;
  width: 150%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  mix-blend-mode: color-dodge;
}
#sec__form {
  // background-color: #476bff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.app_content {
  padding: 30px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-color: #fff;
  border-radius: 37px;
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  -ms-border-radius: 37px;
  -o-border-radius: 37px;
  overflow: hidden;
  .background_page {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -5;
    background-color: #008EB9;
    .background_color {
      width: 100%;
      height: 150%;
      min-height: 2000px;
      min-width: 2000px;
      position: absolute;
      right: 48%;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      background-image: linear-gradient(to right, #06b8e6, #04b4e2, #03afde, #02abda, #01a7d6, #01a8d8, #01aad9, #01abdb, #02b2e3, #02b9eb, #03c1f3, #03c8fb);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      // box-shadow: 0 0 150px -5px rgba(0, 0, 0, 0.822);
      box-shadow: 0 0 150px -5px rgb(0 42 118);
    }
  }
}
/* Start Logo */
#sec__form .logo {
  position: absolute;
  right: 45px;
  top: 35px;
  height: 55px;
  width: 150px;
  z-index: 20;
}
/* Start content */
.content {
  width: 40%;
  min-width: 300px;
  .title-sec {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    font-family: myfontlight !important;
    z-index: 2;
    position: relative;
  }
  .pragh {
    position: relative;
    z-index: 5;
    p {
      margin-bottom: 20px;
      font-size: 0.85rem;
    }
  }
  form .group-input {
    height: 34px;
    position: relative;
    margin-bottom: 15px;
    &::after {
      content: url("../svg/right_arrow_icon.svg");
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
    label {
      display: block;
      font-size: 1.3rem;
    }
    label.placeholder {
      position: absolute;
      left: 0px;
      bottom: 13px;
      display: inline;
      font-size: 1.2rem;
    }
    input {
      border: none;
      border-bottom: 1px solid #c7c7cd;
      height: 33px;
      width: 100%;
      padding-top: 10px;
      background-color: transparent;
      color: #fff;
      &:hover, &:focus {
        box-shadow: 0 5px 11px -10px;
      }
    }
    input:focus {
      outline: none;
    }
  }
  .input-text:focus + .label-helper,
  input:not(:focus):valid ~ .label-helper {
    bottom: 22px;
    transition: all 0.2s ease-in-out;
    font-size: 9px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: #fdd646;
  }
  .app__btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .SEND_btn {
      margin-top: 20px;
      font-family: myfontBOLD !important;
      width: 160px;
      height: 40px;
      color: #4db0cf;
      background-color: #fff;
      border: none;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      border-radius: 37px;
      -webkit-border-radius: 37px;
      -moz-border-radius: 37px;
      -ms-border-radius: 37px;
      -o-border-radius: 37px;
      i {
        padding-left: 7px;
      }
      &:hover {
        box-shadow: 0px 0px 7px 0px #fff;
      }
    }
  }
}
/* Start Social */
.social {
  width: 100%;
  height: 35px;
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  .app_social {
    width: fit-content;
    position: relative;
    display: block;
  }
  a {
    color: #fff;
    margin: 0 5px;
    font-size: 0.9rem;
  }
}
/*** satrt svg ***/
/* coins top */
.coinsTopOne {
  min-height: 200px;
  min-width: 200px;
  background: url("../svg/coinTopOne.svg") no-repeat;
  position: absolute;
  left: 895px;
  top: -146px;
  z-index: 5;
}
/* start svg laptop */
.big_svg {
  width: 1200px;
  min-width: 100%;
  background: url("../svg/Untitled-6.svg") no-repeat;
  position: absolute;
  min-height: 850px;
  background-position: left;
  background-size: 100%;
  left: 0;
  .coinsTopTwo {
    min-height: 220px;
    min-width: 209px;
    background: url("../svg/coinTopTwo.svg") no-repeat;
    position: absolute;
    right: 26%;
    top: 2%;
    z-index: 5;
  }
  .coinsTopThree {
    background: url("../svg/coinTopThree.svg") no-repeat;
    min-height: 150px;
    min-width: 150px;
    position: absolute;
    right: 22%;
    top: 0%;
  }
  .coinsBottomOne {
    min-height: 215px;
    min-width: 215px;
    background: url('../svg/coinBottomOne.svg') no-repeat;
    position: absolute;
    right: 6%;
    bottom: 31px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
  }
  .coinsBottomTwo {
    min-height: 150px;
    min-width: 150px;
    background: url('../svg/coinBottomTwo.svg') no-repeat;
    position: absolute;
    right: 24%;
    bottom: -7px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
  }
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 40%;
    height: 350px;
    width: 350px;
    background-image: url('../images/Arrow.png');
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
/* coins Bottom Three svg */
.coinsBottomThree {
  min-height: 195px;
  min-width: 195px;
  background: url("../svg/coinBottomThree.svg") no-repeat;
  position: absolute;
  left: 665px;
  bottom: -17px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
/* shadow sec svg */
.shadow_svg {
  min-height: 70px;
  width: 100%;
  background: url("../images/shadow-of-box.png") no-repeat;
  background-position: center top;
  background-size: 95%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  mix-blend-mode: multiply;
}
/*start copyright*/
.copyright {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 2;
  width: fit-content;
  p {
    color: #044b5e;
    font-size: 0.7rem;
  }
}
.copyright_two {
  display: none;
}
